.navbar{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.menuitems{
    justify-items:center;
    justify-content: space-between;
    display: flex;
}

.menuitems > li {
    list-style-type: none;
    padding: 10px;
}

.productcard{
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.product{
    width:250px;
    margin: 10px;
    padding:10px;
    text-align: center;
    border: 1px solid black;
}

.product > img{
    width:120px;
    border-radius: 4px;
}

.skeleton-container{
    display: flex;
    flex-wrap: wrap;
}

.skeleton{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: aliceblue;
}

link{
    text-decoration: none;
}